Source: python-xmlbuilder
Section: python
Priority: extra
Maintainer: Joe Stump <joe@joestump.net>
Build-Depends: debhelper (>= 6), python (>= 2.5), python-support, python-setuptools
Standards-Version: 3.8.3
Homepage: http://pypi.python.org/pypi/xmlbuilder

Package: python-xmlbuilder
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>= 2.5), python-django (>= 1.2.0), python-imaging, libjpeg62
Description: A Pythonic way to create XML files.
